<!DOCTYPE html>
<html> 
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %> 
    <%= render 'layouts/stylesheets' %>
  </head>
  <body> 
	<div class="container"> 
		<%= render 'layouts/header' %> 
	  <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body> 
</html>

<!-- views are really important, use partials, focus on the four key pages, maybe adding a task become an ajax request could take care of inputting tasks as opposed to doing a view for inputting tasks (ajax will come later, last thing you want to do but when you do it will be advantaged by unobtrosice js) -->